<a href="https://colab.research.google.com/github/KharismaPutriFadila/Decision-Tree/blob/main/DecisionTree_IrisCSV.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# import library numpy, pandas dan scikit-learn
import numpy as np
import pandas as pd
from sklearn import tree

In [25]:
# Membaca dataset dari file ke pandas dataFrame
irisDataset = pd.read_csv('Dataset Iris.csv', delimiter=';', header=0)

In [27]:
# Mengubah kelas (kolom "Species") dari String ke Unique-Integer
irisDataset["Species"] = pd.factorize(irisDataset.Species)[0]

In [33]:
irisDataset.head()

              id                       SepalLengthCm  ...  PetalWidthCm  Species
0                                1.0             5.1  ...           0.2        0
1                                2.0             5.2  ...           0.3        0
2                                2.0             5.3  ...           0.4        0
3                                3.0             5.4  ...           0.5        0
4                                4.0             5.5  ...           0.6        0

[5 rows x 6 columns]

In [39]:
# Mengubah dataFrame ke array numpy
irisDataset = irisDataset.to_numpy()

In [40]:
print(irisDataset)

[[ 1.     5.1    3.5    1.4    0.2    0.   ]
 [ 2.     5.2    3.6    1.5    0.3    0.   ]
 [ 2.     5.3    3.7    1.6    0.4    0.   ]
 [ 3.     5.4    3.8    1.7    0.5    0.   ]
 [ 4.     5.5    3.9    1.8    0.6    0.   ]
 [ 5.     5.6    3.1    1.9    0.7    0.   ]
 [ 6.     5.7    3.11   1.1    0.8    0.   ]
 [ 7.     5.8    3.12   1.11   0.9    0.   ]
 [ 8.     5.9    3.13   1.12   0.1    0.   ]
 [ 9.     5.1    3.14   1.13   0.11   0.   ]
 [10.     5.11   3.15   1.14   0.12   0.   ]
 [11.     5.12   3.16   1.15   0.13   0.   ]
 [12.     5.13   3.17   1.1    0.14   0.   ]
 [13.     4.2    4.1    1.2    0.15   0.   ]
 [14.     4.3    4.2    1.3    0.16   0.   ]
 [15.     4.4    4.3    1.4    0.17   0.   ]
 [16.     4.5    4.4    1.5    0.18   0.   ]
 [17.     4.6    4.5    1.6    0.19   0.   ]
 [18.     4.7    4.6    1.7    0.2    0.   ]
 [19.     4.8    4.7    1.8    0.21   0.   ]
 [20.     4.9    4.8    1.9    0.22   0.   ]
 [21.     4.1    4.9    1.1    0.23   0.   ]
 [   nan  4.11   2.3    1.11   0.24   0.   ]
 [   nan  4.12   2.4    1.12   0.25   0.   ]
 [   nan  4.13   2.5    1.13   0.26   0.   ]
 [   nan  4.14   2.6    1.14   0.27   0.   ]
 [   nan  4.15   2.7    1.5    0.28   0.   ]
 [   nan  4.16   2.8    1.6    0.29   0.   ]
 [   nan  4.17   2.9    1.7    0.3    0.   ]
 [   nan  4.18   2.1    1.8    0.31   0.   ]
 [   nan  4.19   2.11   1.9    0.32   0.   ]
 [   nan  4.2    2.12   1.1    0.33   0.   ]
 [   nan  4.21   2.13   1.11   0.34   0.   ]
 [   nan  4.22   2.14   1.12   0.35   0.   ]
 [   nan  4.23   2.15   1.6    0.36   0.   ]
 [   nan  1.3    2.16   1.7    0.37   0.   ]
 [   nan  1.4    2.17   1.8    0.38   0.   ]
 [   nan  1.5    2.18   1.9    0.39   0.   ]
 [   nan  1.6    2.19   1.1    0.4    0.   ]
 [   nan  1.7    2.2    1.11   0.41   0.   ]
 [   nan  1.8    2.21   1.12   0.42   0.   ]
 [   nan  1.9    2.22   1.13   0.43   0.   ]
 [   nan  1.1    2.23   1.1    0.44   0.   ]
 [   nan  1.11   2.24   1.2    0.45   0.   ]
 [   nan  1.12   2.25   1.3    0.46   0.   ]
 [   nan  1.13   2.26   1.4    0.47   0.   ]
 [   nan  1.14   2.27   1.5    0.48   0.   ]
 [   nan  1.15   2.28   1.6    0.49   0.   ]
 [   nan  1.16   2.29   1.7    0.5    0.   ]
 [   nan  1.17   2.3    1.8    0.51   0.   ]
 [   nan  1.18   2.31   1.9    0.52   1.   ]
 [   nan  1.19   2.32   1.1    0.53   1.   ]
 [   nan  1.2    2.33   1.11   0.54   1.   ]
 [   nan  1.21   2.34   1.12   0.55   1.   ]
 [   nan  1.22   2.35   1.13   0.56   1.   ]
 [   nan  1.23   2.36   1.14   0.57   1.   ]
 [   nan  2.1    2.37   1.15   0.58   1.   ]
 [   nan  2.2    2.38   1.16   0.59   1.   ]
 [   nan  2.1    2.39   1.17   0.6    1.   ]
 [   nan  4.3    2.4    1.18   0.61   1.   ]
 [   nan  4.4    2.41   1.19   0.62   1.   ]
 [   nan  4.5    2.42   1.2    0.63   1.   ]
 [   nan  4.6    2.43   1.21   0.64   1.   ]
 [   nan  4.7    2.44   1.22   0.65   1.   ]
 [   nan  4.8    2.45   1.23   0.66   1.   ]
 [   nan  4.9    1.1    1.24   0.67   1.   ]
 [   nan  4.1    1.2    1.     0.68   1.   ]
 [   nan  4.11   1.3    1.1    0.69   1.   ]
 [   nan  4.12   1.4    1.2    0.7    1.   ]
 [   nan  4.13   1.5    1.3    0.71   1.   ]
 [   nan  4.14   1.6    1.4    0.72   1.   ]
 [   nan  4.15   1.7    1.5    0.73   1.   ]
 [   nan  4.16   1.8    1.6    0.74   1.   ]
 [   nan  4.17   1.9    1.7    0.75   1.   ]
 [   nan  4.18   1.1    1.8    0.76   1.   ]
 [   nan  4.19   1.11   1.9    0.77   1.   ]
 [   nan  4.2    1.12   1.1    0.78   1.   ]
 [   nan  4.21   1.13   1.11   0.79   1.   ]
 [   nan  4.22   1.14   1.12   0.8    1.   ]
 [   nan  4.23   1.15   1.13   0.81   1.   ]
 [   nan  4.24   1.16   1.14   0.82   1.   ]
 [   nan  4.25   1.17   1.15   0.83   1.   ]
 [   nan  4.26   1.18   1.16   0.84   1.   ]
 [   nan  4.27   1.19   1.17   0.85   1.   ]
 [   nan  4.28   1.2    1.18   0.86   1.   ]
 [   nan  4.29   1.21   1.19   0.87   1.   ]
 [   nan  4.3    1.22   0.1    0.88   1.   ]
 [   nan  4.31   1.23   0.2    0.89   1.   ]
 [   nan  4.32   1.24   0.3    0.9    1.   ]
 [   nan  4.33   1.25   0.4    0.91   1.   ]
 [   nan  4.34   1.26   0.5    0.92   1.   ]
 [   nan  4.35   1.27   0.6    0.93   1.   ]
 [   nan  4.36   1.28   0.7    0.94   1.   ]
 [   nan  4.37   1.29   0.8    0.95   1.   ]
 [   nan  4.38   5.1    0.9    0.96   1.   ]
 [   nan  4.39   5.2    0.1    0.97   1.   ]
 [   nan  6.     5.3    0.11   0.98   1.   ]
 [   nan  6.1    5.4    0.12   0.99   1.   ]
 [   nan  6.2    5.5    0.13   0.1    1.   ]
 [   nan  6.3    5.6    0.14   0.101  1.   ]
 [   nan  6.4    5.7    0.15   0.102  2.   ]
 [   nan  6.5    5.8    0.16   0.103  2.   ]
 [   nan  6.6    5.9    0.17   0.104  2.   ]
 [   nan  6.7    5.1    0.18   0.105  2.   ]
 [   nan  6.8    5.11   0.19   0.106  2.   ]
 [   nan  6.9    5.12   0.2    0.107  2.   ]
 [   nan  6.1    5.13   0.21   0.108  2.   ]
 [   nan  6.11   5.14   0.22   0.109  2.   ]
 [   nan  6.12   5.15   0.23   0.11   2.   ]
 [   nan  6.13   5.16   0.24   0.111  2.   ]
 [   nan  6.14   5.17   0.25   0.112  2.   ]
 [   nan  6.15   5.18   0.26   0.113  2.   ]
 [   nan  6.16   5.19   0.27   0.114  2.   ]
 [   nan  6.17   5.2    0.28   0.115  2.   ]
 [   nan  6.18   5.21   0.29   0.116  2.   ]
 [   nan  6.19   5.22   0.3    0.117  2.   ]
 [   nan  6.2    5.23   0.31   0.118  2.   ]
 [   nan  6.21   5.24   0.32   0.119  2.   ]
 [   nan  6.22   5.25   0.33   0.12   2.   ]
 [   nan  6.23   5.26   0.34   0.121  2.   ]
 [   nan  6.24   5.27   0.35   0.122  2.   ]
 [   nan  1.1    5.28   0.36   0.123  2.   ]
 [   nan  1.2    5.29   0.37   0.124  2.   ]
 [   nan  1.3    5.3    0.38   0.125  2.   ]
 [   nan  1.4    5.31   0.39   0.126  2.   ]
 [   nan  1.5    5.32   0.4    0.127  2.   ]
 [   nan  1.6    5.33   0.41   0.128  2.   ]
 [   nan  1.7    5.34   0.42   0.129  2.   ]
 [   nan  1.8    5.35   2.1    0.13   2.   ]
 [   nan  1.9    5.36   2.2    0.131  2.   ]
 [   nan  1.1    5.37   2.3    0.132  2.   ]
 [   nan  1.11   5.38   2.4    0.133  2.   ]
 [   nan  1.12   5.39   2.5    0.134  2.   ]
 [   nan  1.13   5.4    2.6    0.135  2.   ]
 [   nan  1.14   5.41   2.7    0.136  2.   ]
 [   nan  1.15   5.42   2.8    0.137  2.   ]
 [   nan  1.16   5.43   2.9    0.138  2.   ]
 [   nan  1.17   5.44   2.1    0.139  2.   ]
 [   nan  1.18   5.45   2.11   0.14   2.   ]
 [   nan  1.19   5.46   2.12   0.141  2.   ]
 [   nan  1.2    5.47   2.13   0.142  2.   ]
 [   nan  1.21   5.48   2.14   0.143  2.   ]
 [   nan  1.22   5.49   2.15   0.144  2.   ]
 [   nan  1.23   5.5    2.16   0.145  2.   ]
 [   nan  1.24   5.51   2.17   0.146  2.   ]
 [   nan  1.25   5.52   2.18   0.147  2.   ]
 [   nan  1.26   5.53   2.19   0.148  2.   ]
 [   nan  1.27   5.54   2.2    0.149  2.   ]
 [   nan  1.28   5.55   2.21   0.15   2.   ]
 [   nan  1.29   5.56   2.22   0.151  2.   ]]

In [41]:
dataTraining = np.concatenate((irisDataset[0:40, :], irisDataset[50:90, :]),
                              axis=0)
dataTesting = np.concatenate((irisDataset[40:50, :], irisDataset[90:100, :]),
                             axis=0)

In [42]:
print(dataTraining)
len(dataTraining)

[[ 1.    5.1   3.5   1.4   0.2   0.  ]
 [ 2.    5.2   3.6   1.5   0.3   0.  ]
 [ 2.    5.3   3.7   1.6   0.4   0.  ]
 [ 3.    5.4   3.8   1.7   0.5   0.  ]
 [ 4.    5.5   3.9   1.8   0.6   0.  ]
 [ 5.    5.6   3.1   1.9   0.7   0.  ]
 [ 6.    5.7   3.11  1.1   0.8   0.  ]
 [ 7.    5.8   3.12  1.11  0.9   0.  ]
 [ 8.    5.9   3.13  1.12  0.1   0.  ]
 [ 9.    5.1   3.14  1.13  0.11  0.  ]
 [10.    5.11  3.15  1.14  0.12  0.  ]
 [11.    5.12  3.16  1.15  0.13  0.  ]
 [12.    5.13  3.17  1.1   0.14  0.  ]
 [13.    4.2   4.1   1.2   0.15  0.  ]
 [14.    4.3   4.2   1.3   0.16  0.  ]
 [15.    4.4   4.3   1.4   0.17  0.  ]
 [16.    4.5   4.4   1.5   0.18  0.  ]
 [17.    4.6   4.5   1.6   0.19  0.  ]
 [18.    4.7   4.6   1.7   0.2   0.  ]
 [19.    4.8   4.7   1.8   0.21  0.  ]
 [20.    4.9   4.8   1.9   0.22  0.  ]
 [21.    4.1   4.9   1.1   0.23  0.  ]
 [  nan  4.11  2.3   1.11  0.24  0.  ]
 [  nan  4.12  2.4   1.12  0.25  0.  ]
 [  nan  4.13  2.5   1.13  0.26  0.  ]
 [  nan  4.14  2.6   1.14  0.27  0.  ]
 [  nan  4.15  2.7   1.5   0.28  0.  ]
 [  nan  4.16  2.8   1.6   0.29  0.  ]
 [  nan  4.17  2.9   1.7   0.3   0.  ]
 [  nan  4.18  2.1   1.8   0.31  0.  ]
 [  nan  4.19  2.11  1.9   0.32  0.  ]
 [  nan  4.2   2.12  1.1   0.33  0.  ]
 [  nan  4.21  2.13  1.11  0.34  0.  ]
 [  nan  4.22  2.14  1.12  0.35  0.  ]
 [  nan  4.23  2.15  1.6   0.36  0.  ]
 [  nan  1.3   2.16  1.7   0.37  0.  ]
 [  nan  1.4   2.17  1.8   0.38  0.  ]
 [  nan  1.5   2.18  1.9   0.39  0.  ]
 [  nan  1.6   2.19  1.1   0.4   0.  ]
 [  nan  1.7   2.2   1.11  0.41  0.  ]
 [  nan  1.18  2.31  1.9   0.52  1.  ]
 [  nan  1.19  2.32  1.1   0.53  1.  ]
 [  nan  1.2   2.33  1.11  0.54  1.  ]
 [  nan  1.21  2.34  1.12  0.55  1.  ]
 [  nan  1.22  2.35  1.13  0.56  1.  ]
 [  nan  1.23  2.36  1.14  0.57  1.  ]
 [  nan  2.1   2.37  1.15  0.58  1.  ]
 [  nan  2.2   2.38  1.16  0.59  1.  ]
 [  nan  2.1   2.39  1.17  0.6   1.  ]
 [  nan  4.3   2.4   1.18  0.61  1.  ]
 [  nan  4.4   2.41  1.19  0.62  1.  ]
 [  nan  4.5   2.42  1.2   0.63  1.  ]
 [  nan  4.6   2.43  1.21  0.64  1.  ]
 [  nan  4.7   2.44  1.22  0.65  1.  ]
 [  nan  4.8   2.45  1.23  0.66  1.  ]
 [  nan  4.9   1.1   1.24  0.67  1.  ]
 [  nan  4.1   1.2   1.    0.68  1.  ]
 [  nan  4.11  1.3   1.1   0.69  1.  ]
 [  nan  4.12  1.4   1.2   0.7   1.  ]
 [  nan  4.13  1.5   1.3   0.71  1.  ]
 [  nan  4.14  1.6   1.4   0.72  1.  ]
 [  nan  4.15  1.7   1.5   0.73  1.  ]
 [  nan  4.16  1.8   1.6   0.74  1.  ]
 [  nan  4.17  1.9   1.7   0.75  1.  ]
 [  nan  4.18  1.1   1.8   0.76  1.  ]
 [  nan  4.19  1.11  1.9   0.77  1.  ]
 [  nan  4.2   1.12  1.1   0.78  1.  ]
 [  nan  4.21  1.13  1.11  0.79  1.  ]
 [  nan  4.22  1.14  1.12  0.8   1.  ]
 [  nan  4.23  1.15  1.13  0.81  1.  ]
 [  nan  4.24  1.16  1.14  0.82  1.  ]
 [  nan  4.25  1.17  1.15  0.83  1.  ]
 [  nan  4.26  1.18  1.16  0.84  1.  ]
 [  nan  4.27  1.19  1.17  0.85  1.  ]
 [  nan  4.28  1.2   1.18  0.86  1.  ]
 [  nan  4.29  1.21  1.19  0.87  1.  ]
 [  nan  4.3   1.22  0.1   0.88  1.  ]
 [  nan  4.31  1.23  0.2   0.89  1.  ]
 [  nan  4.32  1.24  0.3   0.9   1.  ]
 [  nan  4.33  1.25  0.4   0.91  1.  ]]

80

In [43]:
print(dataTesting)
len(dataTesting)

[[  nan 1.8   2.21  1.12  0.42  0.   ]
 [  nan 1.9   2.22  1.13  0.43  0.   ]
 [  nan 1.1   2.23  1.1   0.44  0.   ]
 [  nan 1.11  2.24  1.2   0.45  0.   ]
 [  nan 1.12  2.25  1.3   0.46  0.   ]
 [  nan 1.13  2.26  1.4   0.47  0.   ]
 [  nan 1.14  2.27  1.5   0.48  0.   ]
 [  nan 1.15  2.28  1.6   0.49  0.   ]
 [  nan 1.16  2.29  1.7   0.5   0.   ]
 [  nan 1.17  2.3   1.8   0.51  0.   ]
 [  nan 4.34  1.26  0.5   0.92  1.   ]
 [  nan 4.35  1.27  0.6   0.93  1.   ]
 [  nan 4.36  1.28  0.7   0.94  1.   ]
 [  nan 4.37  1.29  0.8   0.95  1.   ]
 [  nan 4.38  5.1   0.9   0.96  1.   ]
 [  nan 4.39  5.2   0.1   0.97  1.   ]
 [  nan 6.    5.3   0.11  0.98  1.   ]
 [  nan 6.1   5.4   0.12  0.99  1.   ]
 [  nan 6.2   5.5   0.13  0.1   1.   ]
 [  nan 6.3   5.6   0.14  0.101 1.   ]]

20

In [50]:
# Mememcah dataset ke input dan label
inputTraining = dataTraining[:, 0:4]
inputTesting = dataTesting[:, 0:4]
labelTraining = dataTraining[:, 4]
labelTesting = dataTesting[:, 4]
print(labelTraining)
len(labelTraining)

[0.2  0.3  0.4  0.5  0.6  0.7  0.8  0.9  0.1  0.11 0.12 0.13 0.14 0.15
 0.16 0.17 0.18 0.19 0.2  0.21 0.22 0.23 0.24 0.25 0.26 0.27 0.28 0.29
 0.3  0.31 0.32 0.33 0.34 0.35 0.36 0.37 0.38 0.39 0.4  0.41 0.52 0.53
 0.54 0.55 0.56 0.57 0.58 0.59 0.6  0.61 0.62 0.63 0.64 0.65 0.66 0.67
 0.68 0.69 0.7  0.71 0.72 0.73 0.74 0.75 0.76 0.77 0.78 0.79 0.8  0.81
 0.82 0.83 0.84 0.85 0.86 0.87 0.88 0.89 0.9  0.91]

80

In [51]:
# Mendefinisikan Decision Tree Classifier
model = tree.DecisionTreeClassifier()

In [58]:
from sklearn.tree import DecisionTreeRegressor

In [59]:
model = DecisionTreeRegressor()

In [60]:
model = model.fit(inputTraining, labelTraining)

In [61]:
# Memprediksi inpu data testing
hasilPrediksi = model.predict(inputTesting)
print(" Label Sebenarnya :", labelTesting)
print(" Hasil Prediksi :", hasilPrediksi)

 Label Sebenarnya : [0.42  0.43  0.44  0.45  0.46  0.47  0.48  0.49  0.5   0.51  0.92  0.93
 0.94  0.95  0.96  0.97  0.98  0.99  0.1   0.101]
 Hasil Prediksi : [0.4  0.4  0.4  0.4  0.24 0.24 0.24 0.24 0.24 0.24 0.91 0.91 0.91 0.91
 0.15 0.15 0.9  0.9  0.9  0.9 ]

In [62]:
# Menghitung akurasi
prediksiBenar = (hasilPrediksi == labelTesting).sum()
prediksiSalah = (hasilPrediksi != labelTesting).sum()
print(" Prediksi Benar :", prediksiBenar, "data")
print(" Prediksi Salah :", prediksiSalah, "data")
print(" Akurasi :", prediksiBenar/(prediksiBenar+prediksiSalah) * 100, "%")

 Prediksi Benar : 0 data
 Prediksi Salah : 20 data
 Akurasi : 0.0 %